aside {
    display: flex;
    flex-direction: column;
    background-color: black;
    grid-area: barraLateral;
    overflow: hidden;
}

aside span, .barraLateral {
    margin: 8px;
    padding-left: 10px;
}

aside span img {
    vertical-align: middle;
    padding: 2px;
}

#spotify {
    font-size: 1.7em;
}

#logoSpotify {
    height: 44px;
    width: 44px;
    vertical-align: middle;
}

.iconeSide {
    height: 31px;
    width: 31px;
    vertical-align: middle;
}

.iconeAdd {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    background-color: gray;
}

.playlist {
    margin-top: 10px;
}

hr {
    margin-bottom: 13px;
}